@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>

<address>
    Dave Cheema<br/>
    (714) 925-8990<br />
    Dave.S.Cheema@gmail.com<br />
    <a href="https://www.linkedin.com/in/davecheema">LinkedIn Profile</a>   
</address>